*,body {
	margin: 0;
	padding: 0
}

a {
	outline: 0;
	text-decoration: none;
	transition: all .2s linear
}

ul {
	list-style: none
}

body {
	background: url("img/banner.gif")/*tpa=usr/themes/flkc/img/banner.gif*/;
	font-size: 9pt;
	font-family: Microsoft Yahei,Tahoma,Simsun,serif
}

.clearfix {
	clear: both
}

.pc {
	display: block
}

.wap {
	display: none
}

.head {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 52px;
	background:#FFF;
	/* background: hsla(0,0%,100%,.8) */
}

.header {
	margin: 0 auto;
	max-width: 980px
}

.header .logo {
	float: left;
	width: 180px;
	height: 50px;
	background: url("img/logo.png")/*tpa=usr/themes/flkc/img/logo.png*/ no-repeat;
	text-align: center;
}

.logo a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px
}

.header p {
	float: left;
	overflow: hidden;
	padding: 20px 20px;
	padding-bottom: 10px;
	color: #2783e0;
	font-weight: 700;
	font-size: 1pc
}

.wrap {
	margin: 10px auto;
	max-width: 980px
}

.nav {
	height: 40px
}

.menu {
	list-style: none
}

.menu li a {
	float: left;
	display: block;
	margin-right: 5px;
	padding: 10px 5px;
	width: 10.5pc;
	background: hsla(0,0%,100%,.8);
	color: #2783e0;
	font-size: 1.35rem;
	text-align: center;
	line-height: 1.875rem;
	transition: .1s
}

.menu li .active,.menu li a:hover {
	background: #2783e0;
	color: #fff
}

.xuanyan {
	float: right;
	display: block;
	padding: 10px 20px;
	background: #e68478;
	color: #fff;
	font-size: 0.9375rem;
	line-height: 1.875rem
}

.main {
	margin-top: 10px;
	max-width: 980px
}

.top {
	padding: 15px 15px;
	height: 170px;
	background-color: #fff;
	/* opacity: .6 增加灰度*/
}

.top .left {
	float: left;
	width: 620px;
	height: 187px
}

.top .left a {
	float: left;
	display: block;
	overflow: hidden;
	margin: 0 5px 5px 0;
	width: 150px;
	height: 30px;
	background: #2783e0;
	color: #fff;
	text-align: center;
	font: 0.875rem/1.875rem Tahoma,Microsoft Yahei,Simsun;
	font-weight: 400
}

.top .left a:hover {
	background-color: #2783e0
}

.top .right {
	position: relative;
	float: right;
	margin-bottom: 5px;
	height: 170px;
	width: 320px;
}

.top .right .title {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	width: 118px;
	height: 28px
}

.top .right .title h2 {
	position: relative;
	float: right;
	width: 90px;
	background: #2783e0;
	color: #fff;
	text-indent: 14px;
	font-weight: 400;
	line-height: 1.75rem
}

.top .right .title p {
	position: absolute;
	top: -28px;
	left: -28px;
	width: 0;
	height: 0;
	border: 28px solid;
	border-color: transparent #2783e0 transparent transparent
}

.top .right .news {
	position: relative;
	overflow: hidden;
	margin-bottom: 10px;
	padding: 20px;
	width: 280px;
	height: 75px
}

.top .right .news li {
	position: relative;
	color: #999;
	font-size: 9pt;
	line-height: 1.375rem
}

.top .right .news li a.new {
	color: #444
}

.top .right .news li a {
	color: #999
}

.top .right .news li a:hover {
	color: #444
}

.top .right .news li span {
	margin-right: 4px;
	color: #06c
}

.top .right .siteurl {
	width: 300px;
	height: 45px;
	font-size: 9pt
}

.top .right .siteurl div {
	float: left;
	width: 90px;
	background: #2783e0;
	color: #fff;
	text-align: center;
	line-height: 2.8125rem
}

.top .right .siteurl span {
	display: inline-block;
	width: 229px;
	border: 1px solid #43a9e4;
	border-left: none;
	color: red;
	text-align: center;
	font-weight: bolder;
	font-size: 0.8625rem;
	line-height: 2.6875rem
}

.top .right .siteurl:hover span {
	border: 1px solid #e68478;
	border-left: none;
	background: #e68478;
	color: #fff
}

.pic .row {
	display: block
}

.pic .big {
	text-align: center
}

.pic .big img {
	max-width: 980px
}

.pic .small a {
	float: right;
	display: block;
	max-width: 5in
}

.pic .small a:nth-child(odd) {
	float: left
}

.block {
	margin: 10px 0 0
}

.block .title {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 0;
	width: 152px;
	height: 2pc
}

.block .title div {
	position: absolute;
	top: -2pc;
	right: -2pc;
	width: 0;
	height: 0;
	border: 2pc solid;
	border-color: transparent transparent transparent #2783e0
}

.block .title h2 {
	width: 90pt;
	background: #2783e0 url("img/class.png")/*tpa=usr/themes/flkc/img/class.png*/ 15px center no-repeat;
	color: #fff;
	text-indent: 3pc;
	font-weight: 400;
	font-size: 0.8125rem;
	line-height: 2pc
}

.list {
	overflow: hidden;
	width: 980px;
	opacity: .9
}

.list li {
	float: left;
	width: 162px;
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	background: #fff;
	color: #ff5e52;
	text-align: center;
	text-shadow: 1px 1px 1px #f5f5f5;
	font-size: 1pc;
	line-height: 2.5rem
}

.list li a {
	display: inline-block;
	width: 162px;
	color: #2783e0;
}

.list li a:hover {
	background-color: #2783e0;
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

.list li a.hot {
	background: url("../../../../qwe12124ssdsqqwq1.jpg")/*tpa=/qwe12124ssdsqqwq1.jpg*/ 7px center no-repeat
}

.list li a.hot:hover {
	background-color: #000;
	color: #f03;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

.sidebar {
	position: fixed;
	top: 7pc;
	left: 50%;
	margin-left: 500px;
	opacity: .6
}

.sidebar li {
	width: 5pc;
	height: 30px;
	border-bottom: 1px solid #dcf5ff;
	background-color: #fff;
	text-align: center;
	font-size: 0.9375rem;
	line-height: 1.875rem
}

.sidebar li:hover {
	background-color: #000
}

.sidebar a {
	display: block;
	color: #000;
	text-decoration: none;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	-ms-transition: all .2s
}

.sidebar a:hover {
	color: #fff
}

.sidebar li:last-child {
	height: 34px;
	line-height: 2.125rem
}

.sidebar div {
	overflow: hidden;
	width: 5pc;
	height: 5pc
}

.sidebar div p {
	width: 0;
	height: 0;
	border-top: 5pc solid #fff;
	border-right: 5pc solid transparent
}

.footer {
	margin: 30px auto;
	padding: 10px;
	padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
	max-width: 119pc;
	background: #fff;
	text-align: center;
	opacity: .6
}

.footer p {
	color: #888;
	font-size: 0.875rem;
	line-height: 1.125rem
}

.footer a {
	color: red
}

.add {
	clear: both;
	overflow: hidden;
	padding: 20px 50px;
	max-width: 980px;
	background: rgba(0,0,0,.5);
	color: #fff
}

.add .row {
	margin-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-bottom: 1px dashed #fff
}

.add .row p {
	margin-bottom: 10px;
	color: #d75544;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.875rem
}

.add .row ol {
	padding-left: 30px
}

.add .row ol li {
	height: 30px;
	font-size: 0.8pc
}

.add .form {
	margin-top: 20px;
	padding: 20px;
	background: #fff;
	color: #000;
	opacity: .6
}

.add .line {
	padding: 10px
}

.add .line label {
	display: block;
	font-size: 1.125rem
}

.add .line input,.add .line select {
	display: inline-block;
	box-sizing: border-box;
	margin: 8px 0;
	padding: 9pt 20px;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	background: #ccc
}

.add .line button {
	margin: 8px 0;
	padding: 14px 20px;
	width: 100%;
	border: none;
	border-radius: 4px;
	background: #ccc;
	color: #d75544;
	cursor: pointer
}

.add .line button:hover {
	background: #d75544;
	color: #fff
}

@media only screen and (max-width:640px) {
	.pc {
		display: none
	}

	.wap {
		display: block
	}

	body {
		background: url("img/banner.gif")/*tpa=/usr/themes/flkc/img/banner.gif*/;
	}

	.xuanyan {
		display: none
	}

	.head {
		height: 40px
	}

	.header .logo {
		display: none
	}

	.header p {
		padding: 10px
	}

	.header p a {
		color: #d75544
	}

	.xuanyan {
		margin-top: 5px
	}

	.pic {
		display: none
	}

	.top {
		padding: 10px 0;
		height: 10pc
	}

	.top .left {
		width: 100%;
		height: 175px;
		background-color: #fff
	}

	.top .left a {
		margin: 0 0 1% 2%;
		width: 22.5%
	}

	.top .right {
		display: none
	}

	.block {
		width: 100%;
		/* border-top: 6px solid #111 */
	}

	.list {
		width: 100%;
		background-color: #fff;
		opacity: .8
	}

	.list li {
		width: 30%;
		font-size: 0.875rem
	}

	.list li a {
		width: 100%
	}

	.add {
		background: #000;
		opacity: .6
	}

	.add .row ol li {
		height: auto;
		font-size: 0.875rem
	}
}

.line span.btn {
	display: inline-block;
	margin-bottom: 0;
	padding: 6px 9pt;
	border: 1px solid transparent;
	border-color: #ccc;
	border-radius: 4px;
	background-color: #fff;
	background-image: none;
	color: #333;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.42857143;
	cursor: pointer;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.line input.pay {
	box-sizing: border-box;
	margin: 4px 0 0;
	padding: 0;
	width: auto;
	border: none;
	background: 0 0;
	line-height: normal
}

.line span img {
	margin: 0 5px 0 3px;
	width: 14px;
	height: 14px;
	border: 0;
	vertical-align: middle
}
